.navbar {
    position: center;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 auto; /* Centra horizontalmente */
    background: linear-gradient(#CED89E,#ced6a4,#CED89E) !important;  /* Color de fondo */ 
    
    
}
